.mainCon-enter-active, .mainCon-leave-active {
    //transition: all .1s  .5s  cubic-bezier(0.320, 0.625, 0.580, 1.000);//sharp
    //  transition: all .5s  1s  cubic-bezier(0.170, 0.935, 0.305, 1.000)//stylish
    // transition: all 1s  .5s  cubic-bezier(0.330, 1.700, 0.510, 0.820);//bounds
    transition: all 1s  .5s  cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
}
.mainCon-enter, .mainCon-leave-to {
    transform: translateY(2000px);
}

.fade-enter-active, .fade-leave-active {
    transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

//slider fade
.slideIn-enter-active, .slideIn-leave-active {
    transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
}
.slideIn-enter,  {
    transform: translateX(-200%);
}
.slideIn-leave-to {
    transform: translateX(200%);
}
//slider prev
.show-prev-enter-active, .show-prev-leave-active {
    transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
    
}
.show-prev-enter,  {
    transform: translateX(100%);
}
.show-prev-leave-to {
    transform: translateX(-100%);
}

//slider next
.show-next-enter-active, .show-next-leave-active {
    transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
}
.show-next-enter,  {
    transform: translateX(-100%);
    
}
.show-next-leave-to {
    transform: translateX(100%) ;
}

//slider prev Alprime
.show-prev-alprime-enter-active {
    // transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
    animation: alprime-slide-prev-enter 2s .1s ease-in; 
}
.show-prev-alprime-leave-active {
    // transition: all 1s cubic-bezier(0.545, 0.080, 0.520, 0.975);//soft
    animation: alprime-slide-prev-leave 2s ease-in; 
}
@keyframes alprime-slide-prev-enter {
    0% {
        transform-origin: center;
        transform: translateX(100%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    30% {
        transform-origin: center;
        transform: translateX(100%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    55% {
        transform-origin: center;
        transform: translateX(5%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    60% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    75% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    80% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    85% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    100% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
}
@keyframes alprime-slide-prev-leave {
    0% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
    15% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    30% {
        transform-origin: center;
        transform: translateX(0) scale(.90);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    35% {
        transform-origin: center;
        transform: translateX(-5%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    60% {
        transform-origin: center;
        transform: translateX(-100%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    100% {
        transform-origin: center;
        transform: translateX(-100%) scale(.90) skewX(-10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
}


//slider next Alprime
.show-next-alprime-enter-active {
    animation: alprime-slide-next-enter 2s  ease-in; 
}
.show-next-alprime-leave-active {
    animation: alprime-slide-next-leave 2s ease-in;
}
@keyframes alprime-slide-next-enter {
    0% {
        transform-origin: center;
        transform: translateX(-100%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    30% {
        transform-origin: center;
        transform: translateX(-100%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    55% {
        transform-origin: center;
        transform: translateX(-5%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    60% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    75% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    80% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    85% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    100% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
}
@keyframes alprime-slide-next-leave {
    0% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
    15% {
        transform-origin: center;
        transform: translateX(0) scale(.90) ;
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    30% {
        transform-origin: center;
        transform: translateX(0) scale(.90);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    35% {
        transform-origin: center;
        transform: translateX(5%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    60% {
        transform-origin: center;
        transform: translateX(100%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
    100% {
        transform-origin: center;
        transform: translateX(100%) scale(.90) skewX(10deg);
        box-shadow: 0 0 10px rgba(75, 75, 75, .8);
    }
}


//slider next Alprime link -------------------
.show-next-alprime-link-enter-active {
    animation: alprime-link-slide-next-enter 2s  ease-in; 
}
.show-next-alprime-link-leave-active {
    animation: alprime-link-slide-next-leave 2s ease-in;
}
@keyframes alprime-link-slide-next-enter {
    0% {
        transform: translateX(-100%) ;
    }
    30% {
        transform: translateX(-100%) ;
    }
    60% {
        transform: translateX(0)  ;
    }
    100% {
        transform: translateX(0) ;
    }
}
@keyframes alprime-link-slide-next-leave {
    0% {
        transform: translateX(0) ;
    }
    30% {
        transform: translateX(0) ;
    }
    60% {
        transform: translateX(100%) ;
    }
    100% {
        transform: translateX(100%) ;
    }
}


.carousel-pop-up-enter-active, .carousel-pop-up-leave-active {
    transition: all .5s 2s;
}
.carousel-pop-up-enter, .carousel-pop-up-leave-to {
    opacity: 1;
    transform: translateY(100%);
}
.carousel-fade-slideLeft-enter-active, .carousel-fade-slideLeft-leave-active {
    transition: all .5s 2s;
}
.carousel-fade-slideLeft-enter, .carousel-fade-slideLeft-leave-to {
    opacity: 1;
    transform: translateX(-100%);
}

.link-circleMotion-enter-active, .link-circleMotion-leave-active {
    animation: circle 2s 2.8s ;
}
@keyframes circle {
    0% { stroke-dasharray: 0 377; opacity: 1;}
    99.9%,to { stroke-dasharray: 377 377; opacity: 1;}
}

.link-lineMotion-enter-active, .link-lineMotion-leave-active {
    transition: all .5s 2s;
}
.link-lineMotion-enter, .link-lineMotion-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}


.v-enter-active, .v-leave-active {
    transition: all 3s 1s;
}
.v-enter, .v-leave-to {
    opacity: 0;
    color: red;
}


// .tScreen-enter-active {
//     animation: pageSlideEnter 1s ease-in ;
// }
// .tScreen-leave-active {
//     animation: pageSlideLeave 1s ease-in ;
// }

// .tScreen-enter {

// }
// .tScreen-leave-to {

// }
// @keyframes pageSlideEnter {
//     0% {
//         transform: translateX(0%);
//     }
//     50% {
//         transform: translateX(0%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }
// @keyframes pageSlideLeave {
//     0% {
//         transform: translateX(-100%);
//     }
//     50% {
//         transform: translateX(0%);
//     }
//     100% {
//         transform: translateX(0%);
//     }
// }
